.a {
	display: inline-block;
	color: rgb(194, 3, 0);
	line-height: 1;
	text-decoration: none;
	cursor: pointer;
	position: relative;
}
.a:after {
	background-color: rgb(194, 3, 0);
	display: block;
	content: "";
	height: 2px;
	width: 0;
	left: 50%;
	position: absolute;
	transition: width .3s ease-in-out;
	transform: translateX(-50%);
}
.a:hover:after, .a:focus:after {
	width: 100%;
}
#overlay {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.65);
	z-index: 1;
	animation: fade .6s;
	overflow: auto;
}
.popup {
	top: 25%;
	left: 0;
	right: 0;
	font-size: 16px;
	text-align: center;
	margin: auto;
	width: 85%;
	min-width: 220px;
	max-width: 600px;
	position: absolute;
	padding: 15px 20px;
	border: 1px solid #383838;
	background: #fefefe;
	z-index: 1;
	border-radius: 10px;
	font: 14px/18px 'Tahoma', Arial, sans-serif;
	box-shadow: 0 15px 20px rgba(0,0,0,.22), 0 19px 60px rgba(0,0,0,.3);
	animation: fade .6s;
}
.popup h2 {
	margin: 0 0 1rem 0;
	line-height: 1.3;
}
.close {
	top: 10px;
	right: 10px;
	width: 32px;
	height: 32px;
	position: absolute;
	border: none;
	border-radius: 50%;
	background-color: rgb(61, 61, 61);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	cursor: pointer;
	outline: none;
}
.close:before {
	color: rgba(255, 255, 255, 0.9);
	content: "X";
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
}
.close:hover {
	background-color: rgb(194, 3, 0);
}
.popup img {
	width: 80%;
	height: auto;
}
.footer {
	color: rgb(61, 61, 61);
}
@keyframes fade {
 from {
opacity: 0;
}
 to {
opacity: 1
}
}
